* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: lightgrey;
}

.roleta {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  position: relative;
  background-color: white;
}
button {
  font-size: 16px;
  color: white;
  font-weight: 600;
  background-color: red;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px 20px;
  border: 2px solid darkred;
  cursor: pointer;
  transition: all 250ms ease;
}
button:hover {
  background-color: darkred;
}
.cores {
  width: 325px;
  height: 325px;
  border-radius: 50%;
  background: conic-gradient(
    blue 0deg 30deg,
    red 30deg 60deg,
    purple 60deg 90deg,
    green 90deg 120deg,
    yellow 120deg 150deg,
    aqua 150deg 180deg,
    orange 180deg 210deg,
    greenyellow 210deg 240deg,
    crimson 240deg 270deg,
    deeppink 270deg 300deg,
    rebeccapurple 300deg 330deg,
    cyan 330deg 360deg
  );
}
.pin {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid black;
  position: absolute;
  transform: rotate(180deg);
  top: 0;
  z-index: 3;
}
@keyframes roleta {
  0% {
  }
  100% {
    transform: rotate(1356deg);
  }
}
